/* Lets not float, but flex. Global flex box setting */
@lost flexbox flex

body {
    display: flex;
    border-radius: 50%;
    transform: translateX(10px);
    lost-utility: overlay 1600px 12 20px #ccc;
}

section, header {
    lost-utility: edit;
}


#index {
    position:relative;
    header {
        width: 100%;
        div {
            lost-column: 1/2;
            height: 100vh;
        }
    }
}