{{ define "body" }}
<!-- Inherit from body block defined in baseof.html -->

<!-- Container div for index -->
<div id="index">

    <!-- Nav menu partial -->
    {{ partial "navmenu.html"}}

    <header id="index-header">
        <div id="index-header-image">
            <img sizes="(min-width: 36em) 576w, 768w, 992w, 1200w" srcset="
                  {{ .Site.BaseURL }}images/{{ index .Site.Data.hash " cover-intake-profile@mobile.jpg " }} 576w,
                  {{ .Site.BaseURL }}images/{{ index .Site.Data.hash "cover-intake-profile@tablet.jpg " }} 768w,
                  {{ .Site.BaseURL }}images/{{ index .Site.Data.hash "cover-intake-profile@desktop.jpg " }} 992w,
                  {{ .Site.BaseURL }}images/{{ index .Site.Data.hash "cover-intake-profile@highres.jpg " }} 1200w" alt="Ian Teda in the jumpform of the intake tower">
        </div>
        <div id="index-header-pitch">
            The pitch
        </div>
    </header>

    <section>
        Story
    </section>

    <section>
        What I do
    </section>
</div>


{{ end }}